# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# assets
assets/*

# Virtual environment
.venv/
env/
venv/

# Poetry's virtualenvs outside the project folder won't appear here
# But if you use in-project .venv, this keeps it out

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm & VS Code
.idea/
.vscode/

# dotenv / secret files
.env
.env.*

# OS files
.DS_Store
Thumbs.db